html, body{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginAndMusic{    
    margin-top: 5%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 5%;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}