.login-form{
    width: 300px;
    height: 300PX;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(66, 94, 255, 0.2);
}

.hidden {
    display: none;
}

.login-id{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 150px;
    line-height: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: left;
    text-shadow: 0 0 0 black;
}

.profileImg{
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 50%;
}